.md-header {
    box-shadow: 0 0 3rem white !important;
    padding: .5rem 0 5rem 0;
}

.md-header-nav__title {
    padding: 0;
}

.md-header-nav__topic {
    color: #444;
    font-weight: 100;
}
.md-header-nav__topic > strong {
    color: #6600DE;
    font-weight: 500;
}

.md-main__inner {
    padding: 0;
}

.md-nav.md-nav--primary > ul > li > label {
    color: #444 !important;
    font-size: 1.1em;
    font-weight: 600;
}

.md-main__inner > .md-sidebar {
    padding: 2.4rem 0 0 0 !important;
}

.md-sidebar[data-md-state="lock"] nav.md-nav > label:first-of-type {
    display: none;
}

.md-sidebar[data-md-state="lock"] li nav.md-nav > ul {
    margin-bottom: 2rem;
}

.md-nav__link {
    color: #666;
}

.md-nav__link:active, .md-nav__link--active, .md-typeset a {
    color: #6600DE;
}

.md-content {
    padding-top: 1rem;
}

.md-typeset h1 {
    color: #444;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

.md-typeset h2 {
    color: #555;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 2.5rem 0 -0.5rem 0;
}

.md-typeset h3 {
    color: #666;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0 -1rem 0;
}

.md-typeset p, .md-typeset ul, .md-typeset ol, .md-typeset blockquote {
    font-size: .9em;
}

@media only screen and (min-width: 960px) {
    img[alt$=">"] {
        float: right;
        margin-bottom: 1rem;
    }

    img[alt$="<"] {
        float: left;
    }

    img[alt$="><"] {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
        float: none!important;
    }

    img[alt$="|>"] {
        margin-left: 3rem;
    }

    img[alt*=small] {
        width: 150px;
    }

    img[alt*=medium] {
        width: 300px;
    }

    img[alt*=big] {
        width: 100%;
    }
}

@media only screen and (max-width: 959px) {
    article img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
        float: none!important;
    }
}
